* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    background-color: #34495E;
    width: 100%;
    height: 8vh;
}

nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 8vh;
}

nav a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}

a.active,
a:hover {
    border: 1px solid white;
    border-radius: 10px;
}