* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.card {
  /* Basic */
  width: 20vw;
  height: 10vw;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

  /* Texts & Fonts */
  text-align: center;
  line-height: 20vh;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  font-weight: bold;

  /* Etc */
  cursor: pointer;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;

  border-radius: 50px;
  filter: blur(35px);

  z-index: -1;
  transition: 2s ease-out;
}

.card::before {
  top: -25%;
  left: -5%;
  background: pink;
}

.card::after {
  bottom: -25%;
  right: -5%;
  background: skyblue;
}

.card:hover::before {
  transform: translateY(100%) scale(2);
}

.card:hover::after {
  transform: translateY(-100%) scale(2);
}
