* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  background: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-form {
  margin: 20px;
}

.input-city {
  margin: 10px;
  padding: 10px;
  width: 300px;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 2rem;
  background: hsl(122, 39%, 50%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background: hsl(122, 39%, 40%);
}

.card {
  background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
  padding: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 25px;
}

p {
  font-size: 1.5rem;
  margin: 5px 0;
}

.city,
.temperature {
  font-size: 3.5rem;
  color: hsl(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

.humidity {
  margin-bottom: 25px;
}

.description {
  font-style: italic;
  font-size: 2rem;
}

.weather-emoji {
  font-size: 7.5rem;
}

.error {
  font-size: 2.5rem;
  color: hsla(0, 0%, 0%, 0.75);
}
